.header {
  background-color: white;
  height: 100px;
  padding: 0 100px;
  display: flex;
  justify-content: space-between;
  border-bottom: solid 0.5px;
  border-color: #d3d3d3;
  line-height: 100px;
  a{text-decoration: none;}
  &__title {
  margin-left: 39px;
  width: 200px;
  font-size: 25px;
  line-height: 100px;
  a{color: black;}
  }
  &__right  {
  width: 200px;
  text-align: center;
  line-height: 100px;
  a{color: black;}
  }
}