.root {
  background-image: url(飲茶.jpeg);
  background-size: cover;
  .postBody {
    background: rgba(255,255,255,0.5);
    padding: 100px;
    display: flex;
    justify-content: center;
    height: 2100px;
    &__main {
      margin-left: 40px;
      &__top {
        font-size: 28px;
        text-align: center;
        margin-bottom: 20px;
        font-weight: bold;
      }
      &__contents {
        a{
          text-decoration: none;
          color: black;
        }
        &__list {
          margin-bottom: 20px;
          display: flex;
          width: 850px;
          height: 150px;
          padding: 0px 15px;
          background-color: white;
          align-items: center;
          border: solid 1px #d3d3d3;
          border-radius: 10px;
          &__left {
            height: 120px;
            &__radius {
              border-radius: 8px;
            }
          }
          &__right {
            height: 120px;
            width: 700px;
            margin-left: 20px;
            &__title {
              font-size: 20px;
              font-weight: bold;
              margin-bottom: 5px;
            }
            &__category {
              margin-bottom: 10px;
            }
            &__content {
              display: -webkit-box;
              -webkit-box-orient: vertical;
              -webkit-line-clamp: 2;
              overflow: hidden;
              font-size: 16px;
              border: solid 0.2px #d3d3d3;
              border-radius: 5px;
              height: 50px;
              &__text {
                margin-left: 5px;
              }
            }
          }
        }
      }
      .pagination {
        margin-top: 30px;
        .first {
          font-size: 20px;
          margin-right: 20px;
          a {
            text-decoration: none;
            color: black;
            font-weight: bold;
          }
        }
        .prev {
          margin-right: 20px;
          a {
            text-decoration: none;
            color: black;
            font-weight: bold;
          }
        }
        .page {
          width: 40px;
          height: 40px;
          text-align: center;
          line-height: 40px;
          display: inline-block;
          border-radius: 3px;
          background-color: white;
          border: 1px solid #ccc;
          a {
            color: black;
            text-decoration: none;
          }
        }
        .current {
          background-color: red;
          color: white;
        }
        .next {
          margin-left: 20px;
          a {
            text-decoration: none;
            color: black;
            font-weight: bold;
          }
        }
        .last {
          margin-left: 20px;
          font-size: 20px;
          a {
            text-decoration: none;
            color: black;
            font-weight: bold;
          }
        }
      }
    }
  }
}


.header-right-btn {
  margin-right: 25px;
  a {
  }
}















.post-content {
  padding-left: 150px;
  width: calc(100% - 200px);
}

.post-title {
  margin: 10px 50px 10px;
  margin-left: 350px;
  font-size: 25px;
}

.content {
  border: solid 1px;
}

.root-title {
  width: calc(100% - 250px);
  padding: 50px 100px;
  overflow: auto;
}

.content {
  margin: 30px 0px;
}

.post-top {
  display: flex;
  justify-content: center;
  font-size: 25px;
}

#post_title {
  width: 900px;
  height: 50px;
  margin-bottom: 10px;
}

#post_content {
  margin-right: 100px;
  margin-bottom: 10px;
}

#post_area {
  margin-bottom: 15px;
  margin-right: 20px;
  margin-left: 20px;
}

.country {
  margin-right: 13px;
}

.part {
  margin-right: 13px;
}

// indexページ
.content-format {
  height: 130px;
  margin-bottom: 20px;
  display: flex;
}

.photo {
  height: 110px;
  width: 110px;
}

.left-content {
  margin-right: 5px;
  padding: 10px 10px;
}

.right-content {
  padding: 10px 10px;
}

.right-title {
  font-size: 18px;
  font-weight: bold;
}

.right-text {
  margin-top: 8px;
  font-size: 14px;
  // width: 600px;
  word-break: break-all;
}